schema/information.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="browsergameshub">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" maxOccurs="1" name="xml_url" type="xs:anyURI" />
        <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:normalizedString" />
        <xs:element minOccurs="1" maxOccurs="1" name="site_url" type="xs:anyURI" />
        <xs:element minOccurs="0" maxOccurs="1" name="titles">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="title">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="lang" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:language">
                            <xs:maxLength value="2" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="descriptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="description">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="lang" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:language">
                            <xs:maxLength value="2" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="type" use="optional">
                        <xs:simpleType>
			    <xs:restriction base="xs:string">
			      <xs:enumeration value="short" />
			      <xs:enumeration value="long" />
			    </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="features">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="feature">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="lang" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:language">
                            <xs:maxLength value="2" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="requirements">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="requirement">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="lang" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:language">
                            <xs:maxLength value="2" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="genre">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="setting">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="effort">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="low" />
              <xs:enumeration value="average" />
              <xs:enumeration value="high" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="players" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="age_recom">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="5" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="logo_url" type="xs:anyURI" />
        <xs:element minOccurs="0" maxOccurs="1" name="status">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="planning" />
              <xs:enumeration value="development" />
              <xs:enumeration value="alpha" />
              <xs:enumeration value="beta" />
              <xs:enumeration value="rc" />
              <xs:enumeration value="release" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="payment">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="free" />
              <xs:enumeration value="weekly" />
              <xs:enumeration value="monthly" />
              <xs:enumeration value="yearly" />
              <xs:enumeration value="optional" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="timing">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="realtime" />
              <xs:enumeration value="ticks" />
              <xs:enumeration value="rounds" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="servers">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="server">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
                    <xs:element minOccurs="1" maxOccurs="1" name="name">
                      <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                          <xs:maxLength value="100" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="version">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="game_url" type="xs:anyURI" />
                    <xs:element minOccurs="0" maxOccurs="1" name="bigpoint_url" type="xs:anyURI" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ranking_url" type="xs:anyURI" />
                    <xs:element minOccurs="0" maxOccurs="1" name="openid_url" type="xs:anyURI" />
                    <xs:element minOccurs="0" name="descriptions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="unbounded" name="description">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="lang" use="required">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:language">
                                        <xs:maxLength value="2" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="players" type="xs:int" />
                    <xs:element minOccurs="0" maxOccurs="1" name="status">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="open" />
                          <xs:enumeration value="closed" />
                          <xs:enumeration value="beta" />
                          <xs:enumeration value="full" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute name="group" type="xs:normalizedString" use="optional" />
                  <xs:attribute name="prefered" type="xs:boolean" use="optional" />
                  <xs:attribute name="lang" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:language">
                        <xs:maxLength value="2" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="screenshots">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="screenshot">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="1" maxOccurs="1" name="url" type="xs:anyURI" />
                    <xs:element minOccurs="0" name="descriptions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="unbounded" name="description">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="lang" use="required">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:language">
                                        <xs:maxLength value="2" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="languages">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="language">
                <xs:simpleType>
                  <xs:restriction base="xs:language">
                    <xs:maxLength value="2" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="developer">
          <xs:complexType>
            <xs:all>
              <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="site_url" type="xs:anyURI" />
              <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="logo_url" type="xs:anyURI" />
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="publisher">
          <xs:complexType>
            <xs:all>
              <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="site_url" type="xs:anyURI" />
              <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="logo_url" type="xs:anyURI" />
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="rss_url" type="xs:anyURI" />
        <xs:element minOccurs="0" maxOccurs="1" name="banners">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="banner">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:anyURI">
                      <xs:attribute name="width" type="xs:int" use="required" />
                      <xs:attribute name="height" type="xs:int" use="required" />
                      <xs:attribute name="lang" type="xs:string" use="optional" />
                      <xs:attribute name="type" use="optional">
                        <xs:simpleType>
											    <xs:restriction base="xs:string">
											      <xs:enumeration value="image" />
											      <xs:enumeration value="swf" />
											    </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="logos">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="logo">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:anyURI">
                      <xs:attribute name="width" type="xs:int" use="required" />
                      <xs:attribute name="height" type="xs:int" use="required" />
                      <xs:attribute name="lang" type="xs:string" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="profileimgs">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="profileimg">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:anyURI">
                      <xs:attribute name="type" type="xs:string" use="required" />
                      <xs:attribute name="hash" type="xs:string" use="optional" />
                      <xs:attribute name="lang" type="xs:string" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="banner_url" type="xs:anyURI" />
        <xs:element minOccurs="0" maxOccurs="1" name="icon_url" type="xs:anyURI" />
        <xs:element minOccurs="0" maxOccurs="1" name="supports">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="support">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="lang" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:language">
                            <xs:maxLength value="2" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="type" use="required">
                        <xs:simpleType>
			    <xs:restriction base="xs:string">
			      <xs:enumeration value="email" />
			      <xs:enumeration value="forum" />
			      <xs:enumeration value="phone" />
			      <xs:enumeration value="fax" />
			    </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

              <xs:element minOccurs="0" maxOccurs="1" name="signature">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="algorithm" use="required">
                        <xs:simpleType>
			    <xs:restriction base="xs:string">
			      <xs:enumeration value="SHA1" />
			    </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
      </xs:all>
      <xs:attribute name="version" type="xs:string" use="optional" />
      <xs:attribute name="revisit" type="xs:int" use="optional" />
      <xs:attribute name="min-height" type="xs:int" use="optional" />
      <xs:attribute name="min-width" type="xs:int" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>
