schema/information.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.17.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="browsergameshub">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" maxOccurs="1" name="xml_url" type="xs:anyURI" />
        <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:normalizedString" />
        <xs:element minOccurs="1" maxOccurs="1" name="site_url" type="xs:anyURI" />
        <xs:element minOccurs="0" maxOccurs="1" name="descriptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="description">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="lang" type="xs:language" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="genre" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="setting" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="effort" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="players" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="age_recom" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="logo_url" type="xs:anyURI" />
        <xs:element minOccurs="0" maxOccurs="1" name="status" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="payment" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="timing" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="servers">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="server">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" maxOccurs="1" name="id" type="xs:int" />
                    <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:normalizedString" />
                    <xs:element minOccurs="0" maxOccurs="1" name="version" type="xs:string" />
                    <xs:element minOccurs="1" maxOccurs="1" name="game_url" type="xs:anyURI" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ranking_url" type="xs:anyURI" />
                    <xs:element minOccurs="0" maxOccurs="1" name="openid_url" type="xs:anyURI" />
                    <xs:element minOccurs="0" name="descriptions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="unbounded" name="description">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="lang" type="xs:language" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="players" type="xs:int" />
                    <xs:element minOccurs="0" maxOccurs="1" name="status" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="group" type="xs:normalizedString" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="screenshots">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="screenshot">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="1" maxOccurs="1" name="url" type="xs:anyURI" />
                    <xs:element minOccurs="0" name="descriptions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="unbounded" name="description">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="lang" type="xs:language" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="languages">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="language" type="xs:language" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute name="version" type="xs:string" use="optional" />
      <xs:attribute name="revisit" type="xs:int" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>
